@import "tailwindcss";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}


h1 {
  font-size: 34;
}

html { scroll-behavior: smooth; }

html, body{ overflow-x: hidden; }